.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.icon {
  width: 32px;
  height: 32px;
  fill: var(--accent);
  transition:
    opacity 0.2s ease,
    transform 0.3s ease;
}

.icon:hover {
  opacity: 0.85;
  transform: scale(1.09);
}

.name {
  font-size: clamp(2.25rem, 6vw, 5rem);
  line-height: 1.05;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.line {
  height: 1px;
  width: 100%;
  max-width: 300px;
  margin: 1rem auto;
  opacity: 0.7;

  background: linear-gradient(
    to right,
    transparent,
    color-mix(in srgb, var(--accent) 60%, transparent),
    transparent
  );
}

.location {
  /* margin-top: 0.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  font-size: 0.85rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.location-icon {
  width: 0.9rem;
  height: 0.9rem;
  fill: currentColor;
  opacity: 0.8;
}

.selfie {
  margin-top: 0.5rem;
  text-align: center;
}

.text-muted {
  color: var(--text-muted);
  opacity: 0.7;
}

.role {
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(0.9rem, 2vw, 1.15rem);
  letter-spacing: 0.05em;
}

/* .summary {
  margin-top: 0.5rem;
  max-width: 42rem;
  line-height: 1.6;
  color: var(--text-muted);
} */

.summary {
  margin: 0.75rem auto 0;
  max-width: 42rem;
  text-align: center;
  line-height: 1.5;
  color: var(--text-muted);
  opacity: 0.75;
  font-size: 0.95rem;
}

/* TODO: Worried about the different amounts of 'fonts' (opacity and size) */
