:root {
  --bg: #f4f4f4;
  --text: #1e1e1e;
  --accent: #6b6b6b;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px black;
  border-radius: 6px;
}

html {
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

main {
  /* justify-items: center; */
  position: relative;
}

main::before,
main::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--accent);
  opacity: 0.2;
}

main::before {
  left: 0;
}

main::after {
  right: 0;
}
