:root {
  --bg: #0f0f0f;
  --text: #ededed;
  --text-muted: #9a9a9a;
  --accent: #9be85c;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px white;
  border-radius: 6px;
}

html {
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

main {
  /* justify-items: center; */
}
