:root {
  --bg: #fafafa;
  /* --bg: black; */
  --text: #18181b;
  /* --accent: #0d9488; */
  --accent: gray;
  --accent2: #f59e0b; /* amber-500 */

  --muted: color-mix(in srgb, var(--text) 65%, transparent);
  --surface: color-mix(in srgb, var(--text) 4%, var(--bg));
  --focus: color-mix(in srgb, var(--accent) 70%, transparent);

  --hover-opacity: 0.7;
  --hover-scale: 1.1;
  --radius: 14px;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px black;
  border-radius: 6px;
}

html {
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

main {
  max-width: 700px;
  margin-inline: auto;
}

a {
  text-decoration: underline;
  font-weight: 500;
  /* color: #9a0718; */
  color: var(--accent);
}

a:hover {
  opacity: var(--hover-opacity);
}
