:root {
  --bg: #f4f4f4;
  --text: #1e1e1e;
  --accent: #6b6b6b;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px black;
  border-radius: 6px;
}

html {
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

main {
  /* justify-items: center; */
}
