.site-edge {
  margin-inline: auto;
  padding: 1.75rem;
}

.section {
  padding: clamp(1rem, 1rem, 1rem) 0;
}

.center {
  text-align: center;
}

.card-container {
  margin-inline: auto;
  padding: 0.75rem;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;

  border: 1px solid var(--accent);
  border-radius: var(--radius);
}

.card {
  margin-inline: auto;
  padding: 1rem;

  /* border: 1px solid var(--accent); */
  border-radius: var(--radius);
}
