.site-edge {
  max-width: 1200px;
  margin-inline: auto;
  padding: 1.75rem;
}

main {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(1rem, 4vw, 2rem);
  /* TODO: Testing */
}

.section {
  padding: clamp(1rem, 1rem, 1rem) 0;
}

.section--center {
  text-align: center;
}

.section--center > * {
  margin-left: auto;
  margin-right: auto;
}

.card-container {
  max-width: 720px;
  margin-inline: auto;
  padding: 0.75rem;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;

  border: 1px solid var(--accent);
  border-radius: var(--radius);
}

.card {
  max-width: 720px;
  margin-inline: auto;
  padding: 1rem;

  /* border: 1px solid var(--accent); */
  border-radius: var(--radius);
}
