.site-edge {
  max-width: 1200px;
  margin-inline: auto;
  padding: 1.75rem;
}

main {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(1rem, 4vw, 2rem);
  /* TODO: Testing */
}

.section {
  padding: clamp(1rem, 1rem, 1rem) 0;
}

.section--center {
  text-align: center;
}

.section--center > * {
  margin-left: auto;
  margin-right: auto;
}

.card {
  max-width: 720px;
  margin-inline: auto;
  /* padding: clamp(1.25rem, 3vw, 2rem); */
  padding: 1rem;

  border: 1px solid var(--accent);
  border-radius: var(--radius);
}
