.skills-container {
  margin-inline: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  justify-content: center;

  padding: 1rem;
  border: 1px solid var(--accent);
  border-radius: var(--radius);
}

.skill-pill {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;

  width: fit-content;
  white-space: nowrap;

  padding: 0.4rem 0.65rem;
  border: 1px solid var(--accent);
  border-radius: var(--radius);
}

.skill-pill img {
  width: 16px;
  height: 16px;
}
